body {
	height: auto;
	background:#2c7996a1
}

.errorMessages {
	padding: 0.6em 1em;
	font-weight: bold;
  	box-sizing: border-box
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 12%;
	color: red;
	border: solid 3px #ffc06e;
	border-radius: 10px;
	background:white;
	width:70%
}

.copyright{
	text-align: center;
	margin-top:6px;
}

.edit{
	border: solid 3px #FFC778;
	box-shadow    : 4px 4px 3px #666666;
	padding: 0.6em 1em;
	margin-top:20px;
    margin-left:12%;
    font-weight: bold;
    color: #000000;
    background: #FFF;
    border-radius: 10px;
    height:auto;
    width:70%
}

.useredit{
	font-size:18px;
	margin-bottom:13px;
}
.name{
	margin-bottom:3px;
}
.account{
		margin-bottom:3px;
}

.password1{
		margin-bottom:3px;
}

.password2{
		margin-bottom:3px;
}

.name1{
	margin-right:95px;
}

.account1{
	margin-right:31px;
}

.password11{
	margin-right:48px;
}

.password21{

}

.update{
			display       : inline-block;
	font-weight: bold;
  	border-radius : 5%;         
  	font-size     : 10pt;       
  	text-align    : center;      
  	cursor        : pointer;    
  	padding       : 11px 15px;  
  	line-height   : 1em;       
  	transition    : .3s;        
  	box-shadow    : 4px 4px 3px #666666;  
  	border        : 2px solid #c3c305;  
  	color:#c3c305;  
	margin-left	  : px;
	margin-top    :10px;
	background:#fff

}

.update:hover {
  box-shadow    : none;    
  color         : white;    
  background    : #c3c305;   
}

.back{
			display       : inline-block;
	font-weight: bold;
  	border-radius : 5%;         
  	font-size     : 10pt;       
  	text-align    : center;      
  	cursor        : pointer;    
  	padding       : 11px 15px;  
  	line-height   : 1em;       
  	transition    : .3s;        
  	box-shadow    : 4px 4px 3px #666666;  
  	border        : 2px solid #2127cc;  
  	color:blue;  
	margin-left	  : px;
	margin-top    :50px;
	background:#fff

}

.back:hover {
  box-shadow    : none;    
  color         : white;    
  background    : blue;   
}