body {
	height: auto;
	background:#2c7996a1
}

.errorMessages {
	font-weight: bold;
  	box-sizing: border-box
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	color: red;
	border: solid 3px #ffc06e;
	border-radius: 10px;
	background:white
}

.login-contents{
	margin-top:30px;
	height:50%;
	width:50%;
	margin-left:25%;
}

.login{
	  	box-shadow    : 4px 4px 3px #666666;  
		height:300px;
	text-align: center;
	border: solid 3px #ffc06e;
	border-radius: 10px;
	

	background:white
}

.loginname{
	margin-top:80px;
}

.account{
	font-weight: bold;
}

.password{
	font-weight: bold;
	margin-top:2px;
}

#password{
	margin-left:15px;
}
.copyright{
	text-align: center;
	margin-top:6px;
}

.loginbutt{
	display       : inline-block;
	font-weight: bold;
  	border-radius : 5%;         
  	font-size     : 10pt;       
  	text-align    : center;      
  	cursor        : pointer;    
  	padding       : 6px 6px;  
  	background    : #000000;    
  	color         : #fff;    
  	line-height   : 1em;       
  	transition    : .3s;        
  	box-shadow    : 4px 4px 3px #666666;  
  	border        : 2px solid #ffffff;    
	margin-left	  : 26px;
	margin-top    :0px;
}

.loginbutt:hover {
  box-shadow    : none;    
  color         : #000;    
  background    : #fff;   
}