body {
	height: auto;
	background:#2c7996a1
}

.errorMessages {
	font-weight: bold;
  	box-sizing: border-box
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	color: red;
	border: solid 3px #ffc06e;
	border-radius: 10px;
	background:white
}

.copyright{
		text-align: center;
	margin-top:10px
}

.title{
	font-size:20px;
	padding: 10px
}
.table{
	border: solid 3px #FFC778;
	width:100%;
}
.table th,td{
	padding: 10px
}

.main{
			   border: solid 3px #FFC778;
	box-shadow    : 4px 4px 3px #666666;
		padding: 0.5em 1em;
	margin-top:20px;
    margin-left:12%;
    font-weight: bold;
    color: #000000;
    background: #FFF;
    border-radius: 10px;
    height:auto;
    width:70%
}

.edit{
		display       : inline-block;
	font-weight: bold;
  	border-radius : 5%;         
  	font-size     : 10pt;       
  	text-align    : center;      
  	cursor        : pointer;    
  	padding       : 6px 6px;  
  	background    : #ffffff;    
  	color         : green;    
  	line-height   : 1em;       
  	transition    : .3s;        
  	box-shadow    : 4px 4px 3px #666666;  
  	border        : 2px solid green;
  	border-radius : 13%;     
	margin-top    :0px;
}

.edit:hover {
  box-shadow    : none;    
  color         : #fff;    
  background    : green;   
}

.delete{
		display       : inline-block;
	font-weight: bold;
  	border-radius : 5%;         
  	font-size     : 10pt;       
  	text-align    : center;      
  	cursor        : pointer;    
  	padding       : 6px 6px;  
  	background    : #ffffff;    
  	color         : red;    
  	line-height   : 1em;       
  	transition    : .3s;        
  	box-shadow    : 4px 4px 3px #666666;  
  	border        : 2px solid red;
  	border-radius : 13%;     
	margin-top    :0px;
}

.delete:hover {
  box-shadow    : none;    
  color         : #fff;    
  background    : red;   
}

.revive{
		display       : inline-block;
	font-weight: bold;
  	border-radius : 5%;         
  	font-size     : 10pt;       
  	text-align    : center;      
  	cursor        : pointer;    
  	padding       : 6px 6px;  
  	background    : #ffffff;    
  	color         : blue;    
  	line-height   : 1em;       
  	transition    : .3s;        
  	box-shadow    : 4px 4px 3px #666666;  
  	border        : 2px solid blue;
  	border-radius : 13%;     
	margin-top    :0px;
}

.revive:hover {
  box-shadow    : none;    
  color         : #fff;    
  background    : blue;   
}
.signup{
			display       : inline-block;
	font-weight: bold;
  	border-radius : 5%;         
  	font-size     : 10pt;       
  	text-align    : center;      
  	cursor        : pointer;    
  	padding       : 11px 15px;  
  	line-height   : 1em;       
  	transition    : .3s;        
  	box-shadow    : 4px 4px 3px #666666;  
  	border        : 2px solid #c3c305;  
  	color:#c3c305;  
	margin-left	  : 72%;
	margin-bottom    :5px;
	background:#fff

}

.signup:hover {
  box-shadow    : none;    
  color         : white;    
  background    : #c3c305;   
}


.back{
			display       : inline-block;
	font-weight: bold;
  	border-radius : 5%;         
  	font-size     : 10pt;       
  	text-align    : center;      
  	cursor        : pointer;    
  	padding       : 11px 15px;  
  	line-height   : 1em;       
  	transition    : .3s;        
  	box-shadow    : 4px 4px 3px #666666;  
  	border        : 2px solid #2127cc;  
  	color:blue;  
	margin-left	  : px;
	margin-top    :50px;
	background:#fff

}

.back:hover {
  box-shadow    : none;    
  color         : white;    
  background    : blue;   
}
