body {
	height: auto;
	background:#2c7996a1
}

.errorMessages {
	font-weight: bold;
  	box-sizing: border-box
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 13%;
	color: red;
	border: solid 3px #ffc06e;
	border-radius: 10px;
	background:white;
	padding: 0.5em 1em;
	width:70%
	
}

.form {
	   border: solid 3px #FFC778;
	box-shadow    : 4px 4px 3px #666666;
		padding: 0.5em 1em;
	margin-top:10px;
    margin-left:13%;
  	margin-right:8px;
    font-weight: bold;
    color: #000000;
    background: #FFF;
    border-radius: 10px;
    height:570px;
    width:70%
    
}
   
.copyright{

	text-align: center;
	margin-top:10px
}

.post{
		display       : inline-block;
	font-weight: bold;
  	border-radius : 5%;         
  	font-size     : 10pt;       
  	text-align    : center;      
  	cursor        : pointer;    
  	padding       : 11px 15px;  
  	line-height   : 1em;       
  	transition    : .3s;        
  	box-shadow    : 4px 4px 3px #666666;  
  	border        : 2px solid #807e7e;    
	margin-left	  : 30px;
	margin-top    :8px;
	background:#fff
}

.post:hover {
  box-shadow    : none;    
  color         : #c3c3c3;    
  background    : #000000;   
}

.back{
			display       : inline-block;
	font-weight: bold;
  	border-radius : 5%;         
  	font-size     : 10pt;       
  	text-align    : center;      
  	cursor        : pointer;    
  	padding       : 11px 15px;  
  	line-height   : 1em;       
  	transition    : .3s;        
  	box-shadow    : 4px 4px 3px #666666;  
  	border        : 2px solid #2127cc;  
  	color:blue;  
	margin-left	  : px;
	margin-top    :50px;
	background:#fff

}

.back:hover {
  box-shadow    : none;    
  color         : white;    
  background    : blue;   
}

.postlim{
	margin-left:30px;
	margin-top:15px
}

.postname{
	
	margin-bottom:10px;
	font-size:20px;
}