body {
	height: auto;
	background:#2c7996a1
}
.errorMessages {
	font-weight: bold;
  	box-sizing: border-box
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 22%;
	color: red;
	border: solid 3px #ffc06e;
	border-radius: 10px;
	background:white;
	padding: 0.5em 1em;
	width:50%
}

.copyright{
		text-align: center;
	margin-top:10px
}

.title{
	font-size:20px;
	padding: 10px

}

.form{
		   border: solid 3px #FFC778;
	box-shadow    : 4px 4px 3px #666666;
		padding: 0.5em 1em;
	margin-top:10px;
    margin-left:22%;
  	margin-right:8px;
    font-weight: bold;
    color: #000000;
    background: #FFF;
    border-radius: 10px;
    height:500px;
    width:50%
    
}

.signup{
			display       : inline-block;
	font-weight: bold;
  	border-radius : 5%;         
  	font-size     : 10pt;       
  	text-align    : center;      
  	cursor        : pointer;    
  	padding       : 11px 15px;  
  	line-height   : 1em;       
  	transition    : .3s;        
  	box-shadow    : 4px 4px 3px #666666;  
  	border        : 2px solid #c3c305;  
  	color:#c3c305;  
	margin-left	  : px;
	margin-top    :8px;
	background:#fff

}

.signup:hover {
  box-shadow    : none;    
  color         : white;    
  background    : #c3c305;   
}

.back{
			display       : inline-block;
	font-weight: bold;
  	border-radius : 5%;         
  	font-size     : 10pt;       
  	text-align    : center;      
  	cursor        : pointer;    
  	padding       : 11px 15px;  
  	line-height   : 1em;       
  	transition    : .3s;        
  	box-shadow    : 4px 4px 3px #666666;  
  	border        : 2px solid #2127cc;  
  	color:blue;  
	margin-left	  : px;
	margin-top    :50px;
	background:#fff

}

.back:hover {
  box-shadow    : none;    
  color         : white;    
  background    : blue;   
}