body {
	height: 100%;
	background:#1d6575a1
}

.errorMessages {
	font-weight: bold;
  	box-sizing: border-box
	margin-top: 10px;
	margin-bottom: 10px;
	color: red;
	border: solid 3px #ffc06e;
	border-radius: 10px;
	background:white
}

.center{
	display: flex;
}
.header{
	box-shadow    : 4px 4px 3px #666666;
	border: solid 3px #FFC778;
    border-radius: 10px;
  	box-sizing: border-box;
	text-align: center;
  	line-height: 50px;
  	font-weight: bold;
  	font-size: 40px;
	background: #ffffff;
	margin-bottom:10px;
	color:black
}
.main-contents {
  	box-sizing: border-box;
	width: auto;
    height: auto;
    min-height: 100%;
}

.menu {
    border: solid 3px #FFC778;
    border-radius: 10px;
	width: 25%;
	height: 510px;
	position:sticky;
	top:0;
	background:white
}

.messages {
    border: solid 3px #FFC778;
    border-radius: 10px;
  	width: 70%;
  	margin-left:30px;
  	margin-right:10px;
	height: auto;
	background: #fff;
}



.copyright{
  	box-sizing: border-box;
	text-align: center;
}

.messa{
	box-shadow    : 4px 4px 3px #666666;
	padding: 0.5em 1em;
	margin-top:5px;
    margin-left:8px;
  	margin-right:8px;
    font-weight: bold;
    color: #000;
    background: #FFF;
    border: solid 3px #6091d3;
    border-radius: 10px;
    height: auto;
    display: flex; 
    flex-direction: column
}

.subject{
	font-size:30px;
	margin : 5px ;
	border-bottom: double 5px #FFC778;
}

.category{
	margin-left:5px;
	border-bottom: dashed 2px #FFC778;
}

.message{
	margin-top:5px;
	margin-left:5px;
	color:#000000
}

.account-name{
	font-size:13px;
	color:#b9a6a6
}

.date{
	font-size:13px;
	color:#b9a6a6
}

.messagedel{
	  display       : inline-block;
	  font-weight: bold;
  border-radius : 5%;        
  font-size     : 10pt;       
  text-align    : center;     
  cursor        : pointer;     
  padding       : 6px 6px;   
  background    : yellow;   
  color         : #000;    
  line-height   : 1em;         
  transition    : .3s;         
  box-shadow    : 4px 4px 3px #666666;  
  border        : 2px solid yellow;   
}

.messagedel:hover {
  box-shadow    : none;       
  color         : yellow;    
  background    : #000000; 
  border        : 2px solid #000;  
}

.comments  {
	box-shadow    : 4px 4px 3px #666666;
		padding: 0.5em 1em;
	margin-top:10px;
    margin-left:8px;
  	margin-right:8px;
    font-weight: bold;
    color: #000000;
    background: #FFF;
    border: solid 3px #6091d3;
    border-radius: 10px;
    height: auto;
    display: flex; 
    flex-direction: column
}

.comment{
	margin-left:5px;
}

.commentName{
	margin-left:5px;
	font-size:13px;
	color:#b9a6a6
}

.commentDate{
	margin-left:5px;
	font-size:13px;
	color:#b9a6a6
}

.commentdel{
	display       : inline-block;
	font-weight: bold;
  	border-radius : 5%;          
  	font-size     : 10pt;       
  	text-align    : center;    
  	cursor        : pointer;    
  	padding       : 6px 6px; 
  	background    : yellow;    
  	color         : #000;    
  	line-height   : 1em;        
  	transition    : .3s;        
  	box-shadow    : 4px 4px 3px #666666;  
  	border        : 2px solid yellow;    
	margin-left	  : 3px;
}

.commentdel:hover {
  box-shadow    : none;     
  color         : yellow;    
  background    : #000000; 
    border        : 2px solid #000;    
}


.commentlim{
	font-weight: bold;
	margin-left	  : 20px;
	margin-top:5px;
}

.tweet-box{
	box-shadow    : 4px 4px 3px #666666;
	margin-left	  : 20px;
	    border: solid 3px #6091d3;
    border-radius: 10px;
}

.postbot{
	display       : inline-block;
	font-weight: bold;
  	border-radius : 5%;         
  	font-size     : 10pt;       
  	text-align    : center;      
  	cursor        : pointer;    
  	padding       : 6px 6px;  
  	background    : #ffffff;    
  	color         : #000000;    
  	line-height   : 1em;       
  	transition    : .3s;        
  	box-shadow    : 4px 4px 3px #666666;  
  	border        : 2px solid black;
  	border-radius : 13%;     
	margin-left	  : 26px;
	margin-top    :0px;
}

.postbot:hover {
  box-shadow    : none;    
  color         : #fff;    
  background    : #000;   
}

.searchform{
	box-shadow    : 4px 4px 3px #666666;
		    border: solid 3px #0067f3;
    border-radius: 10px;
		padding: 0.5em 1em;
	margin-top:5px;
    margin-left:8px;
  	margin-right:8px;
    font-weight: bold;
    color: black;
    background: #fff;
    height: auto;

}

.searchdate{
	margin-bottom:10px
}

.enddate{
	margin-top:5px;
}

.searchcategory{
	margin-top:5px;
}

.search{
	display       : inline-block;
	font-weight: bold;
  	border-radius : 5%;         
  	font-size     : 10pt;       
  	text-align    : center;      
  	cursor        : pointer;    
  	padding       : 3px 5px;  
  	line-height   : 1em;       
  	transition    : .3s;        
  	box-shadow    : 4px 4px 3px #666666;  
  	border        : 2px solid #807e7e;    
	margin-left	  : px;
	margin-top    :0px;
	background:#fff
}

.search:hover {
  box-shadow    : none;    
  color         : #c3c3c3;    
  background    : #000000;   
}

.reset{
	font-size:0.75em;
	box-shadow    : 4px 4px 3px #666666;
display:block;
width:50px;
transition    : .3s; 
padding-top:10px;
padding-bottom:10px;
text-align:center;
border:2px solid;
margin-left:85%;
margin-top:50px
border-color:red;
background:red;
	color:white

}

.reset:hover {
  box-shadow    : none;       
  color         : red;    
  background    : white; 
  border-color:red;  
}

.menutext{
	margin-top:30px;
}

.manager{
	font-weight: bold;
		font-size:0.75em;
		border-radius: 10px;
	box-shadow    : 4px 4px 3px #666666;
display:block;
width:150px;
height:20px;
transition    : .3s; 
padding-top:10px;
padding-bottom:10px;
text-align:center;
border:2px solid;
margin-left:5%;
margin-top:60px
border-color:#d82424;
background:#fff;
	color:#0067f3

}

.manager:hover {
  box-shadow    : none;       
  color         : #ff6a00;    
  background    : #fff; 
  border-color:#ff6a00;  
}

.logout{
		font-weight: bold;
		font-size:0.75em;
		border-radius: 10px;
	box-shadow    : 4px 4px 3px #666666;
display:block;
width:150px;
height:20px;
transition    : .3s; 
padding-top:10px;
padding-bottom:10px;
text-align:center;
border:2px solid;
margin-left:5%;
margin-top:50px
border-color:#d82424;
background:#fff;
	color:#0067f3

}

.logout:hover {
  box-shadow    : none;       
  color         : #ff6a00;   
  background    : #fff; 
  border-color:#ff6a00  
}

.newmessage{
			font-weight: bold;
		font-size:0.75em;
		border-radius: 10px;
	box-shadow    : 4px 4px 3px #666666;
display:block;
width:150px;
height:20px;
transition    : .3s; 
padding-top:10px;
padding-bottom:10px;
text-align:center;
border:2px solid;
margin-left:5%;
margin-top:50px
border-color:#d82424;
background:#fff;
	color:#0067f3
}

.newmessage:hover {
  box-shadow    : none;       
  color         : #ff6a00;    
  background    : #fff; 
  border-color:#ff6a00;  
}

.name{
	font-weight: bold;
	font-size:22px;
    color: #000;
    margin-top:1px;
    margin-left:18px

}